@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth bg-zinc-900/95 text-white;
  }
}

@layer components {
  .gradient-border {
    @apply relative z-10 p-[2px] before:absolute before:inset-0 before:z-[-1] before:rounded-full before:bg-gradient-to-r before:from-pink-500 before:via-red-500 before:to-yellow-500;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
